*{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(231, 231, 231);
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    
}

.content {
    margin-top: 20px;
}

.row {
    margin-top: 10px;
}


textarea {
    border-radius: 10px;
    border: none;
    padding: 5px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: dodgerblue;
}

button {
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: dodgerblue;
}
.submitBtn {
    height: 45px;
    width: 200px;
}

.output-container {
    width: 45%;
    margin-top: 30px;
    margin-left: 20px;
}

.output {
    margin-top: 10px;
    background-color: white;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
}

h3 {
    color: dodgerblue;
    font-weight: bold;
    
}

/* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 60px;
    width: 200px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  /* file upload button hover state */
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }